<div class="post-field">
  <b><u>title:</b></u>  <%=@post.title %></br>
  <b><u>content:</b></u>  <%=@post.content %>
  <b><u>votes:</b></u>  <%=@vote.count %>
</div>

<%= link_to("Return to Homepage", root_path) %></br>

<h4>Comments:</h4>
<div class="comments">
  <% @post.comments.each do |comment| %>
      <div class="post-comment">
        <li><%= simple_format(comment.body) %></li>
        <% if comment.user_id == User.ids %>
        <%= link_to("Update Comment", update_comment_path(@post.id)) %></br>
        <%= link_to("Delete Comment", delete_comment_path(@post.id)) %>
        <% end %>
      </div>
  <% end %>
</div>
</br>
<% if session[:user_id] != nil %>
  <%=  form_tag(post_comments_path(@post.id)) do %>
      <div class="post-field">
          <b><%= label_tag("Write Comment Here: ") %></b> <br/>
          <%= text_area_tag("body") %>
      </div>

      <%= button_tag("Post Comment!") %>
  <% end %>
<% end %>
