<!DOCTYPE html>
<html>
<head>
  <title>RedditProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if session[:user_id] != nil %>
  <nav>
    Hello <%= User.find_by(id: session[:user_id]).username %></br>
    <%= link_to("Logout", logouts_path(id: session[:user_id])) %>
  </nav>
  <% else %>
  <nav>
    <%= link_to("Sign In Here", logins_path) %>
  </nav>
  <% end %>

<%= yield %>

</body>
</html>
